#include "Project.xcconfig"

COPY_PHASE_STRIP = YES

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

ENABLE_NS_ASSERTIONS = NO

ENABLE_TESTABILITY = NO

GCC_OPTIMIZATION_LEVEL = s

GCC_PREPROCESSOR_DEFINITIONS = 

LLVM_LTO = NO

ONLY_ACTIVE_ARCH = NO

OTHER_CODE_SIGN_FLAGS = 

STRIP_INSTALLED_PRODUCT = YES

SWIFT_ACTIVE_COMPILATION_CONDITIONS = 

SWIFT_COMPILATION_MODE = wholemodule

SWIFT_OPTIMIZATION_LEVEL = -Owholemodule

VALIDATE_PRODUCT = YES
