#include "../Target/App.xcconfig"
#include "iOS.xcconfig"

// Asset Catalog App Icon Set Name
// Name of the asset catalog app icon set whose contents will be merged into the Info.plist.
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

// Runpath Search Paths
// This is a list of paths to be added to the runpath search path list for the image being created. At runtime, dyld uses the runpath when searching for dylibs whose load path begins with @rpath/.
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
