IPHONEOS_DEPLOYMENT_TARGET = 8.0

// Base SDK
// The name or path of the base SDK being used during the build. The product will be built against the headers and libraries located inside the indicated SDK. This path will be prepended to all search paths, and will be passed through the environment to the compiler and linker. Additional SDKs can be specified in the Additional SDKs (ADDITIONAL_SDKS) setting.
SDKROOT = iphoneos

// Targeted Device Family
// The build system uses the selected device to set the correct value for the UIDeviceFamily key it adds to the target's Info.plist file.
TARGETED_DEVICE_FAMILY = 1,2
